.squid-form {
  text-align: center;
  background-color: #E7D6CD;
  border-radius: 1rem;
  padding: 10px 10px;
  margin: 50px 50px;
  width: auto;
  height: auto;
  display: inline-flex;
}

.input {
  background-color: #F7F2EF;
  border-radius: 1rem;
  padding: 10px 10px;
  margin: 25px 25px;
  font-size: 1rem;
  text-align: left;
}

label {

}