.button {
  outline: none;
  border: none;
  padding: .75rem;
  margin: .5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: $page-font;
  background: white;
  white-space: nowrap;
  cursor: pointer;
}