.squid__show {
  background-color: #96616B;
  border-radius: 1rem;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px;
  width: auto;
  height: auto;
}

.squid__tile {
  background-color: #37505C;
  text-align: center;
  border: 4px solid black;
  border-radius: 1rem;
  padding: 10px 10px;
  margin: 10px 10px;
}